 /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top layer */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu on left side */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

.logo-image{
  width: 50px;
  height: 50px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 240px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-left: 240px;
  padding: 0px 10px;
  color: black;
}

table, tr, td {
  margin-left: 250px;
  padding: 5px 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

img {
  margin-left: 250px;
}

a.big {
  font-size: 22px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
